# Version set based on current version at time of development.
-e .[matplotlib,plotly]

# Interactivity
ipython

# Testing
coverage
pylint
black
flake8
bandit
pytest

# Typing including lxml for html report
mypy
lxml
