# ############################################################################ #
# Dependencies
# ############################################################################ #

-e .[matplotlib,plotly]

# for visualization
matplotlib
plotly
kaleido

# for interactive development
ipython
ipdb
